@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";
/* 🚌 Settup Theme Colors */
.light {
    --bg-color: rgb(255, 255, 255);
    --bg-atc-color: rgba(255, 255, 255, 0.85);
    --subbg-color: rgb(247, 249, 249);
    --text-color: rgb(15, 20, 25);
    --subtext-color: rgb(83, 100, 113);
    --shadow-color: theme('boxShadow.white-shadow-dark');
    --hover-header-color: rgba(15, 20, 25, 0.1);
    --hover-main-color: rgba(0, 0, 0, 0.03);
    --border-color: rgb(239, 243, 244);
}
.dark {
    --bg-color: rgb(0, 0, 0);
    --bg-atc-color: rgba(0, 0, 0, 0.65);
    --subbg-color: rgb(22, 24, 28);
    --text-color: rgb(231, 233, 234);
    --subtext-color: rgb(113, 118, 123);
    --shadow-color: theme('boxShadow.dark-shadow-dark');
    --hover-header-color: rgba(231, 233, 234, 0.1);
    --hover-main-color: rgba(255, 255, 255, 0.03);
    --border-color: rgb(47, 51, 54);
}
.blue {
    --main-color: rgb(29, 155, 240);
    --hover-maincl-color: rgba(29, 155, 240, 0.102);
}
.yellow {
    --main-color: rgb(255, 212, 0);
    --hover-maincl-color: rgba(255, 212, 0, 0.102);
}
.pink {
    --main-color: rgb(249, 24, 128);
    --hover-maincl-color: rgba(249, 24, 128, 0.102);
}
.violet {
    --main-color: rgb(120, 86, 255);
    --hover-maincl-color: rgba(120, 86, 255, 0.102);
}
.orange {
    --main-color: rgb(255, 122, 0);
    --hover-maincl-color: rgba(255, 122, 0, 0.102);
}
.green {
    --main-color: rgb(0, 186, 124);
    --hover-maincl-color: rgba(0, 186, 124, 0.102);
}
/* 🚁 Reset Css 🚁 */
svg {
    @apply fill-current;
    /* color: #1d9bf01a */
}
/* p, span, a, h1, h2, h3, h4, h5, h6, strong, em, small, i, b, u, code, pre, blockquote, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
} */
img {
    max-width: 100%;
    height: auto;
}
img {
    pointer-events: none;
}
/* 🚁 Layout 🚁 */
html, body {
    @apply h-full bg-tt-bg-color;
}

body {
    @apply m-0 text-sm;
}
::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

.app {
    @apply bg-tt-bg-color text-tt-text-color;
}

/* Hidden Scroll Bar */
.no--scrollbar::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}
/* Text Post */
.hashtag--text {
    @apply text-tt-main-color font-bold hover:underline;
}
.link--text {
    @apply text-tt-main-color hover:underline;
}
/* DraftEditor */
.DraftEditor-root {
    @apply relative w-full h-full flex;
}
.DraftEditor-editorContainer {
    @apply z-10 w-full text-[18px];
}
/*  */
.public-DraftEditorPlaceholder-inner {
    @apply absolute left-0 top-1/2 translate-y-[-50%] text-[#536471] text-[20px];
}
/* Tools Editer */
.toolediter--media:hover span {
    @apply block;
}
.toolediter--gif:hover span {
    @apply block;
}
.toolediter--poll:hover span {
    @apply block;
}
.toolediter--emoji:hover span {
    @apply block;
}
.toolediter--schedule:hover span {
    @apply block;
}
.toolediter--location:hover span {
    @apply block;
}

.login--banner {
    width: calc(100% - 55vw);
}
@media screen and (max-width: 1024px) {
    .login--banner {
        width: 100%;
    }
}

.bg--opacity {
    background: rgba(0, 0, 0, 0.3);
}

.react-player-video {
    width: 100% !important;
    height: 100% !important;
}

.photo--border {
    border: 1px solid rgb(207, 217, 222);
}