@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";

.light {
    --main-color: rgb(29, 155, 240);
    --bg-color: rgb(255, 255, 255);
    --subbg-color: rgb(247, 249, 249);
    --text-color: rgb(15, 20, 25);
    --subtext-color: rgb(83, 100, 113);
    --shadow-color: theme('boxShadow.white-shadow-dark');
}
.dark {
    --main-color: rgb(29, 155, 240);
    --bg-color: rgb(0, 0, 0);
    --subbg-color: rgb(22, 24, 28);
    --text-color: rgb(231, 233, 234);
    --subtext-color: rgb(113, 118, 123);
    --shadow-color: theme('boxShadow.dark-shadow-dark');
}

svg {
    @apply fill-current;
}

html, body {
    @apply h-full;
}

body {
    @apply m-0 text-sm;
}

.app {
    @apply bg-tt-bg-color text-tt-text-color;
}